{{!-- do modal window here for notes crud --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/notes.css">
  <title>Notes</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Notes</a>
    <a href="/articles" class="btn btn-outline-danger my-2 my-sm-0" type="submit">X</a>
  </nav>
  <h2 id="article" data-articleId="{{article._id}}">{{article.title}}</h2>
  <hr>
  <div class="notes container">
    {{#each article.notes ~}}
    <div class="card">
      <div class="card-header">
        <h2> {{title}} </a>
      </div>
      <div class="card-body">
        <div class="card-text">{{text}}</div>
        <div onclick=deleteNote("{{_id}}") class="btn btn-danger deleteBtn">X</div>
      </div>
    </div>
    {{~/each}}

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Note</span>
      </div>
      <input id="newNote" data-articleId="{{article._id}}" type="text" class="form-control"
        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <div class="input-group-append">
        <div class="btn btn-success" onclick="addNote()">Add </div>
      </div>
    </div>
  </div>

  <script src="/js/note.js"></script>
</body>

</html>