{{> heading/navbar}}

{{> heading/title}}

{{#each articles ~}}
  <div class="card">
  <div class="card-header">
    <a href={{link}}>
    {{title}}
    </a>
  </div>
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <button id="saveArticle-{{@index}}" data-title="{{title}}" data-link="{{link}}" data-description="{{description}}" onclick=saveArticle("saveArticle-{{@index}}") class="btn btn-primary">Save</button>
  </div>
</div>
{{~/each}}